* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

.welcome-message h1 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.menu-bar {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}

.menu-bar li {
    margin: 0 15px;
}

.menu-bar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu-bar a:hover {
    color: #f4a460;
}

.hero {
    position: relative;
    text-align: center;
    color: #fff;
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 0.7;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.reserve-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: #f4a460;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reserve-btn:hover {
    background-color: #333;
}

.about-us {
    padding: 50px;
    text-align: center;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content p {
    max-width: 600px;
    line-height: 1.6;
    font-size: 1.1em;
    text-align: justify;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

.contact-info p {
    margin: 5px 0;
}
